// Place all the styles related to the Pairing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list_field
{

}

.list_item
{

}
