// Place all the styles related to the Pairing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#drink_lists
{
    float: left;
}

#bread_list
{
    float: right;
}

.list-container {
    width: 50%;
    margin: auto;
    text-align: center;
}