<header class="stopper">
  <h2>Shakers and Bakers</h2>
  <ul>
    <li><%= link_to "HOME" ADD_ROUTE %>
    <li><%= link_to "PAIRS" ADD_ROUTE %>
    <li><%= link_to "CONTACT" ADD_ROUTE %>
    <li><%= link_to "ABOUT" ADD_ROUTE %>
  </ul>
</header>
