<header class="stopper center">
  <h2>Shakers and Bakers</h2>
  <ul>
    <li><%= link_to "HOME" site_info_home_path %>
    <li><%= link_to "PAIRS" paring_index %>
    <li><%= link_to "CONTACT" site_info_contact_path %>
    <li><%= link_to "ABOUT" site_info_about_path %>
  </ul>
</header>
