<header class="stopper center">
  <h2>Shakers and Bakers</h2>
  <nav>
    <ul>
      <li><%= link_to "HOME", site_info_home_path %>   
      <li><%= link_to "PAIRS", pairing_index_path %>   
      <li><%= link_to "CONTACT", site_info_contact_path %>   
      <li><%= link_to "ABOUT", site_info_about_path %>
    </ul>
  </nav>
</header>
