<%= form_with scope: :pairing, local: true do |form| %>

<div id="list_container">
  <input type="text" name="target" class="refine">
  <div id="list-contents">
    <% FOR EACH LISTNG %>
      <%= form.radio_button(:list_option, :list_option, item, :class => 'list_item') %>
    <% end %>
  </div>
</div>

<% end %>
