<div id="main">
  <br>
    <%= link_to '<-- Home', site_info_home_path, :style => "text-decoration: underline; color: black; font-weight: bold; font-family: sans-serif;" %>
    <div class="center">
      <%= image_tag("logo2.png", :alt => "logo", :size => "150x150", :style => "display: inline;") %>
    </div>
    <h1>About US</h1>
    <div class="center">
      <p id="about">
        WE ... ARE ... SHAKEBAKE. A team of five fervourous coders and masterminds. We have brought the world the all-time best
        software for ensuring that your bread and drink pairings needs are met. Our goal was to bring you a piece of software
        to revolutionize the way you fulfill your epicurean needs.
      </p>
      <%= image_tag("company_photo.png", :alt => "shakebake-members", :style => "display: inline;", :class => "group_pic") %>
  </div>
</div>
