<div id="main">
  <br>
    <div class="center">
      <%= image_tag("logo2.png", :alt => "logo", :size => "150x150", :style => "display: inline;") %>
    </div>
    <h1>About US</h1>
    <div class="center">
      <p id="about">
        WE ... ARE ... SHAKEBAKE. A team of five fervourous coders and masterminds. We have brought the world the all-time best
        software for ensuring that your bread and drinks pairing needs are met. Are goal was to bring you a peice of software
        to revolutionize the way you fulfill you epicurian needs.
      </p>
      <%= image_tag("company_photo.jpg", :alt => "shakebake-members", :size => "x", :style => "display: inline;") %>
  </div>
</div>
