<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shakers and Bakers</title>
  <meta name="description" content="Bread and Drink pairings">
  <meta name="author" content="Shakers and Bakers">

</head>

<body>
    <div id="main">
    <br>

    <%= image_tag("logo2.png", :alt => "logo", :size => "200x200", :style => "display: block; margin-left: auto; margin-right: auto;") %>

    <h1>Shakers and Bakers Homepage</h1>

        <div class="test">
            <br><br><br><br><br><br>
        </div>
        <br><br><br><br><br><br>

    </div>
</body>
</html>
