<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Shakers and Bakers</title>
  <meta name="description" content="Bread and Drink pairings">
  <meta name="author" content="Shakers and Bakers">

</head>

<body>
    <div id="main">
    <h1>Shakers and Bakers Homepage</h1>
    <p>Welcome to Shakers and Bakers, where we love equaly our crossaints and our cocktails</p>
        <div class="test">
            <br><br>
        </div>
        <div class="test">
            <br><br>
        </div>
        <div class="test">
            <br><br>
        </div>
    </div>
</body>
</html>