    <div id="main">
    <br>

    <%= image_tag("logo2.png", :alt => "logo", :size => "150x150", :style => "display: block;") %>

    <h1>Shakers and Bakers Homepage</h1>
    <br><br><br>
        <div class="test">
            <br><br><br><br><br><br>
        </div>
        <br><br><br>
        

    <%= link_to 'Search for a Drink/Bread Pairing', pairing_index_path, :class => 'nav' %>

    <%= link_to 'Submit your own Drink/Bread Pairing', pairing_index_path, :class => 'nav button2' %>
    </div>
